.editor {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    &__title {
        max-width: 273px;
        margin-bottom: 27px;
        font-family: $mainfont;
        color:#635C73;
        text-align: center;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 26px;
        line-height: 28px;
    }
    &__info {
        font-family: $secondfont;
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        color: #323232;
        max-width: 276px;
        margin-bottom: 36px;
    }
    &__actions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 120px;
    }
    &__item {
        display: flex;
        max-height: 26px;
        margin-right: 10px;
        &:nth-child(1), &:nth-child(2) {
            margin-bottom: 20px;
        }
    }
    &__item-link {
        display: flex;
        align-items: center;
        background: #eff3f6 linear-gradient(-180deg,#fafbfc,#eff3f6 90%) -1px -1px repeat-x;
        color: #24292e;
        background-size: 110% 110%;
        border: 1.5px solid rgba(27,31,35,.2);
        border-radius: .25rem 0 0 .25rem ;
        cursor: pointer;
        font-weight: 700;
        padding: 5px 10px;
    }
    &__item-text {
        display: inline-block;
        margin-left: 4px;
    }
    &__item-count {
        display: flex;
        align-items: center;
        background-color: #fff;
        border: 1.5px solid rgba(27,31,35,.2);
        border-radius:0 .25rem .25rem 0;
        border-left: 0;
        color: #24292e;
        font-weight: 700;
        padding: 7px 5px;
        cursor: pointer;
    }
}


