.wrapper {
    margin: 0 auto;
}

.header {
    min-width: 320px;
    margin-bottom: 130px;
    background: url("/img/img1.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    &__logo {
        display: flex;
        align-items: center;
        margin-right: 50px;
    }
    &__logo-img-colored {
        display: block;
        width: 43px;
        height: 41px;
    }
    &__logo-img-white {
        display: none;
        width: 43px;
        height: 41px;
    }
    &__logo-title {
        margin-left: 17px;
        display: none;
        color: $themecolor;
        text-transform: uppercase;
        @include fonts (24px,
        700,
        16px)
    }
    &__btn-buy {
        margin-right: 51px;
        padding: 11px 23px;
        @include fonts (15px,
        700,
        15px);
        border-radius: 40px;
        border: 2px solid $themecolor;
        background-color: $themecolor;
        font-family: $mainfont;
        color: #fff;
        cursor: pointer;
    }
    &__menu-big {
        display: none;
    }
    &__burger {
        position: relative;
        cursor: pointer;
    }
    &__burger-lines {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include burger-lines(26px);
    }
    &__burger-lines::before,
    &__burger-lines::after {
        content: '';
        position: absolute;
    }
    &__burger-lines::before {
        @include burger-lines(26px);
        transform: translateY(7px);
    }
    &__burger-lines::after {
        @include burger-lines(15px);
        transform: translateY(-7px);
    }
    &__menu {
        display: none;
        position: absolute;
        flex-direction: column;
        top: 103px;
        width: 292px;
        background-color: $menubackground;
        z-index: 5;
        padding-bottom: 14px;
    }
    &__menu-link {
        position: relative;
        display: inline-block;
        padding: 39px 31px 31px;
        border-bottom: 3px solid #3B3B3B;
        width: 230px;
        @include fonts (26px,
        400,
        26px);
        font-family: $mainfont;
        color: #FFF;
        &:hover {
            color: $themecolor;
        }
        &:hover::before {
            content: '';
            position: absolute;
            left: 2px;
            top: 19px;
            justify-content: center;
            width: 8px;
            height: 53px;
            background: $themecolor;
        }
    }
    &__title {
        margin-top: 50px;
        font-family: $mainfont;
        @include fonts (48px,
        700,
        48px);
        color: #fff;
    }
    &__info {
        margin-top: 19px;
        text-align: center;
        font-family: $mainfont;
        @include fonts (18px,
        400,
        24px);
        color: $themecolor;
    }
    &__versions {
        margin: 14px 0 394px;
        display: inline-block;
        font-family: $mainfont;
        @include fonts (14px,
        400,
        14px);
        color: $themecolor2;
    }
    &__buy {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-items: $alingcenter;
        top: calc(100% - 25px);
    }
    &__btn-download {
        margin-bottom: 15px;
        padding: 13px 23px;
        font-family: $mainfont;
        @include fonts (18px,
        700,
        20px);
        background-color: $themecolor;
        border: none;
        border-radius: 40px;
        color: #FFF;
        border: 2px solid $themecolor;
        cursor: pointer;
    }
    &__buy-about {
        font-family: $mainfont;
        @include fonts (14px,
        400,
        14px);
        color: $themecolor2;
    }
}

.header__burger--active .header__burger-lines {
    background-color: transparent;
}

.header__burger--active .header__burger-lines::before {
    transform: rotate(45deg);
}

.header__burger--active .header__burger-lines::after {
    width: 26px;
    transform: rotate(-45deg);
}

.header__menu--active {
    display: block;
}

.header-top {
    display: flex;
    justify-content: center;
    align-items: center;
    @include container(13px,
    31px);
    background-color: #27262a;
}

.header-content {
    position: relative;
    @include container (10px);
    display: flex;
    align-items: center;
    flex-direction: column;
}