@media (min-width: 481px) {
    .header {
        &__logo-title {
            display: block;
        }
        &__btn-buy {
            margin-right: 51px;
            padding: 11px 23px;
            @include fonts (15px, 700, 15px);
            border-radius: 40px;
            border: 2px solid $themecolor;
            background-color: $themecolor;
            font-family: $mainfont;
            color: #fff;
            cursor: pointer;
        }
        &__burger {
            display: none;
        }
        &__menu {
            display: none;
        }
        &__menu-big {
            width: 100%;
            display: flex;
            justify-content: center;
        }
        &__menu-link-big {
            @include fonts (16px, 700, 18px);
            color: $themecolor;
            margin-top: 23px;
            margin-right: 47px;
        }
        &__menu-link-big:last-child {
            margin-right: 0;
        }
        &__title {
            margin-top: 70px;
            @include fonts (72px, 700, 72px);
        }
        &__info {
            @include fonts (24px, 400, 24px);
        }
        &__versions {
            margin: 14px 0 439px;
        }
        &__buy {
            top: calc(100% - 33px);
        }
        &__btn-download {
            @include fonts (21px, 700, 23px);
            padding: 20px 61px;
            margin-bottom: 18px;
        }
        &__buy-about {
            @include fonts (14px, 400, 16px);
        }
    }
    .header-top {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        @include container(20px, 20px);
    }
    .header-content {
        @include container(20px);
    }
    .editor {
        &__title {
            font-size: 42px;
            max-width: 600px;
        }
        &__info {
            max-width: 700px;
            font-size: 21px;
            line-height: 32px;
        }
        &__actions {
            margin-bottom: 140px;
        }
        &__item {
            display: flex;
            margin-right: 10px;
            margin-bottom: 20px;
        }
    }
    .product {
        &__about {
            align-items: unset;
        }
        &__about-img1 {
            margin-right: 23px;
        }
        &__about-img2 {
            margin-right: 44px;
        }
        &__about-img3 {
            margin-right: 74px;
        }
        &__about-img4 {
            margin-right: 63.5px;
        }
        &__about-item {
            flex-direction: row;
            align-items: unset;
        }
        &__about-info {
            max-width: 562px;
            align-items: flex-start;
        }
        &__about-text {
            text-align: unset;
        }
        &__img img {
            width: 700px;
            height: 519px;
        }
    }
    .reviews {
        &__title {
            @include fonts (42px, 700, 44px);
            margin: 68px auto 88px;
        }
        &__mentions {
            margin-bottom: 37px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
        }
        &__item {
            width: 324px;
            padding: 0 10px;
        }
        &__item:last-child {
            margin-top: -40px;
        }
        &__info {
            max-width: 700px;
        }
        &__line {
            width: 480px;
        }
    }
    .pricing {
        &__offers {
            flex-direction: row;
            align-items: flex-start;
            justify-content: center;
            flex-wrap: wrap;
            width: 100%;
        }
        &__item {
            margin: 35px 20px;
        }
    }
}

@media (min-width: 992px) {
    .wrapper {
        margin: 0 auto;
    }
    .header {
        &__menu {
            display: none;
        }
        &__btn-buy {
            order: 2;
            margin-right: 0;
            padding: 11px 37px;
        }
        &__menu-big {
            display: flex;
            justify-content: flex-end;
            position: absolute;
            right: 193px;
        }
        &__menu-link-big {
            margin-top: 0;
        }
        &__menu-link-big:last-child {
            margin-right: 48px;
        }
        &__menu-link {
            @include fonts (16px, 700, 17px);
            color: $themecolor;
        }
        &__logo:hover &__logo-title {
            color: #FFF;
        }
        &__logo:hover &__logo-img-colored {
            display: none;
        }
        &__logo:hover &__logo-img-white {
            display: block;
        }
        &__menu-link-big:hover {
            color: #FFF;
        }
        &__btn-buy:hover {
            color: $themecolor;
            background-color: #FFF;
        }
        &__btn-download:hover {
            color: $themecolor;
            background-color: #FFF;
        }
    }
    .header-top {
        margin: 0 auto;
        max-width: 1200px;
        flex-wrap: nowrap;
        background-color: transparent;
    }
    .header-content {
        margin: 0 auto;
        max-width: 1200px;
    }
    .editor {
        &__title {
            font-size: 54px;
            line-height: 54px;
            max-width: unset;
        }
        &__info {
            max-width: 861px;
            font-size: 21px;
            line-height: 32px;
        }
        &__actions {
            margin-bottom: 50px;
        }
        &__item {
            display: flex;
            margin-right: 10px;
            margin-bottom: 20px;
        }
    }
    .reviews {
        &__mentions {
            max-width: 1200px;
        }
        &__title {
            @include fonts (48px, 700, 50px);
            margin: 108px auto 82px;
        }
        &__info {
            max-width: 880px;
        }
        &__item:last-child {
            margin-top: -55px;
        }
        &__line {
            width: 780px;
        }
    }
    .product {
        padding: 94px 0 33px 0;
        background: #F4F4F4;
        flex-direction: row;
        justify-content: center;
        align-items: unset;
        &__img {
            padding: unset;
            width: unset;
            justify-content: unset;
            flex-direction: column;
        }
        &__img img {
            width: 100%;
            height: 100%;
        }
        &__img-title {
            display: block;
            align-self: flex-start;
            margin-left: 22px;
        }
        &__title {
            display: none;
        }
        &__about-info {
            width: 350px;
            align-items: flex-start;
        }
    }
    .pricing {
        &__offers {
            flex-wrap: nowrap;
            width: 100%;
        }
        &__item {
            margin: 0;
        }
        &__item:nth-of-type(1) {
            margin-left: 15px;
        }
        &__item:nth-of-type(n) {
            margin-right: 15px;
        }
        &__item-active {
            margin-right: 15px;
        }
        // &__item:nth-of-type(n) {
        //     margin: 0;
        // }
        // &__item-active {
        //     margin: 0;
        // }
    }
}