@mixin container($right: 0, $topbottom: 0) {
    padding: $topbottom $right $topbottom;
}

@mixin burger-lines($burger-width: 15px) {
    height: 3px;
    background-color: white;
    width: $burger-width;
    border-radius: 4px;
}

@mixin fonts ($size, $weight, $line-height) {
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
}