.product {
        display: flex;
        flex-direction: column;
        align-items: center;
    & > * {
        padding: 0 10px;
    }
    &__title {
        color: #8D81AC;
        font-family: $mainfont;
        font-size: 32px;
        text-align: center;
        font-weight: 700;
        margin-bottom: 36px;
    }
    &__about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    &__about-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 38px;
    }
    &__about-img {
        margin-bottom: 27px;
        display: flex;
        justify-content: center;
    }
    &__about-img1 {
        width: 111px;
        height: 64px;
    }
    &__about-img2 {
        width: 90px;
        height: 80px;
    }
    &__about-img3 {
        width: 60px;
        height: 84px;
    }
    &__about-img4 {
        width: 71px;
        height: 71px;
    }
    &__about-info {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 400px;
    }
    &__about-subtitle {
        color:#323232;
        margin-bottom: 14px;
        font-family: $mainfont;
        text-align: center;
    }
    &__about-text {
        line-height: 21px;
        font-family: $secondfont;
        color: #848E97;
        font-size: 14px;
        text-align: center;
    }
    &__img-title {
        display: none;
        color: #8D81AC;
        font-family: $mainfont;
        font-size: 48px;
        font-weight: 700;
        margin-bottom: 19px;
    }
    &__img {
        padding: 0;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        & img {
            width: 317px;
            height: 381px;
        }
    }
}





