.reviews {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 320px;
    background: url("/img/testmonials-bg1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    @include container (13px,
    auto);
    &__title {
        margin: 57px auto 53px;
        display: flex;
        text-align: center;
        @include fonts (36px,
        700,
        48px);
        color: #FFF;
    }
    &__mentions {
        margin-bottom: 37px;
        display: flex;
        flex-direction: column;
    }
    &__item {
        margin-bottom: 45px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 270px;
    }
    &__item:last-child {
        margin-bottom: 0;
    }
    &__img {
        margin-bottom: 33px;
    }
    &__text {
        display: flex;
        text-align: center;
        font-family: $secondfont;
        font-style: italic;
        @include fonts (16px,
        700,
        24px);
        color: #FFF;
    }
    &__info {
        text-align: center;
        font-family: $secondfont;
        @include fonts(14px,
        400,
        21px);
        color: $themecolor3;
        padding: 0 20px 20px;
        min-width: 250px;
    }
    &__line {
        width: 245px;
        height: 2px;
        background-color: #645766;
    }
}